.list {
	width: 282px;
	background: #EBECF0;
	padding: 12px;
	border-radius: 8px;
	box-sizing: border-box;
	margin: 24px;
	box-shadow: 2px 2px 8px rgb(0 0 0 / 20%);
    height: fit-content;
}

.listTitle {
	margin-top: 0;
}

.task {
	background: #FFFFFF;
	color: #000000;
	margin: 12px 0;
	padding: 8px;
	border-radius: 8px;
	word-break: break-all;
}

.task:hover {
	text-decoration: underline;
    cursor: pointer;
}

.taskLink {
	text-decoration: none;
}

.addButton {
	background: none;
	border: none;
	appearance: none;
	font-size: 18px;
	color: #5E6C84;
	/* margin-top: 17px; */
}

.addButton:hover {
	color: #000;
    cursor: pointer;
}

.addButton:active:hover {
    color:red;
    cursor: pointer;
}

.addButton:disabled {
    color: green;
	cursor: none;
	/* border: none;  */
}


