@font-face {
  src: url("../public/fonts/Roboto-Regular.ttf");
  font-family: "Roboto";
}

body {
  margin: 0;
  /* background-color: #0c88cf; */
  font-family: "Roboto";
  font-style: normal;
  height: 100%;
}

body * {
  box-sizing: border-box;
}

.content {
  flex: 1;
  min-height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
